n8n-workflow-prodpeak-pt.json
{
  "name": "ProdPeak - CONVERSION ELITE (V18.2 FINAL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "trigger-auto",
      "name": "⏰ Ciclo 4h (Automático)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 400]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Start Manual (Play)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 560]
    },
    {
      "parameters": {
        "jsCode": "const k = ['biohacking performance', 'neurociencia da disciplina', 'habitos de elite CEOs']; return { keyword: k[Math.floor(Math.random() * k.length)] };"
      },
      "id": "selector",
      "name": "🎰 Sorteador Elite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-or-v1-INSERIR_TOKEN_OPENROUTER_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/gpt-3.5-turbo\", \"messages\": [{ \"role\": \"system\", \"content\": \"Você é um redator elite especializado em produtividade, biohacking e neurociência. Escreva artigos de 2500+ palavras em português do Brasil. Retorne APENAS JSON válido com: title, body_html, slug, category, meta_desc.\" }, { \"role\": \"user\", \"content\": \"Escreva um artigo completo sobre: {{ $json.keyword }}\" }] }"
      },
      "id": "ia-redator",
      "name": "IA - Redator Royal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 480]
    },
    {
      "parameters": {
        "jsCode": "const r = $node['IA - Redator Royal'].json.choices[0].message.content; const ai = JSON.parse(r.match(/\\{[\\s\\S]*\\}/)[0]); const h = `<html><head><meta charset='UTF-8'><link rel='stylesheet' href='../styles.css'><title>${ai.title}</title></head><body><main class='container'><div class='badge'>⏱️ LEITURA DE 10 MINUTOS</div><h1>${ai.title}</h1><div class='content'>${ai.body_html}</div><div class='cta-box' style='background:#1b4332; padding:50px; border-radius:12px; margin-top:40px; text-align:center;'><h3>📚 Leitura Recomendada</h3><p>Este conteúdo transformou a vida de milhares. Aprofunde-se com os melhores livros do mercado.</p><a href='https://amzn.to/4moudI5' target='_blank' style='display:inline-block; margin-top:16px; padding:16px 32px; background:#e9c46a; color:#1b4332; text-decoration:none; border-radius:8px; font-weight:bold;'>Ver na Amazon →</a></div></main></body></html>`; return { html: h, filename: `${ai.slug}.html` };"
      },
      "id": "code-html",
      "name": "Processar HTML Expert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 480]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/glgames1506-afk/prodpeak-pt/contents/artigos/{{ $json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ghp_INSERIR_TOKEN_GITHUB_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"Novo artigo: {{ $json.filename }}\", \"content\": \"{{ Buffer.from($json.html).toString('base64') }}\", \"branch\": \"main\" }"
      },
      "id": "github-push",
      "name": "🚀 PUBLICAR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 480]
    }
  ],
  "connections": {
    "⏰ Ciclo 4h (Automático)": {
      "main": [
        [
          {
            "node": "🎰 Sorteador Elite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Manual (Play)": {
      "main": [
        [
          {
            "node": "🎰 Sorteador Elite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎰 Sorteador Elite": {
      "main": [
        [
          {
            "node": "IA - Redator Royal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Redator Royal": {
      "main": [
        [
          {
            "node": "Processar HTML Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar HTML Expert": {
      "main": [
        [
          {
            "node": "🚀 PUBLICAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
